.react-image {
    height: 20px;
    vertical-align: bottom;
}

.react-image-container {
    margin-right: 10px !important;
}

.like {
    color: rgb(32, 120, 244);
}

.love {
    color: rgb(243, 62, 88);
}

.haha {
    color: rgb(247, 177, 37);
}

.wow {
    color: rgb(247, 177, 37);
}

.sad {
    color: rgb(247, 177, 37);
}

.angry {
    color: rgb(233, 113, 15);
}

.me-comment {
    margin-right: 5px;
}

.shared {
    color: rgb(32, 120, 244) !important;
}

.report-post-container {
    margin: 16px 32px 16px 48px;
}

.report-post-button {
    align-items: center;
    background: #f5f6f7;
    border: 1px solid #dddfe2;
    border-radius: 20px;
    display: inline-flex;
    margin-bottom: 8px;
    margin-right: 8px;
    padding: 8px 12px;
    font-weight: 500;
    font-size: 12px;
}

.report-post-button-selected {
    background: #3578e5;
    color: white;
    outline: none;
    border: 1px solid #3578e5;
}